<% @articles.each do |article| %>
  <div class="card mb-4">
    <div class="card-body">
      <h2 class="card-title">
        <%= article.heading %>
      </h2>
      <p class="card-text">
        <%= article.content[0..200].html_safe%>
      </p>
      <%= link_to article_path(article), class: "btn btn-primary" do  %> 
        Read More
        &rarr;
      <% end %>
    </div>
    <div class="card-footer text-muted">
      Posted on January 1, 2017 by
      <a href="#">Start Bootstrap</a>
    </div>
  </div>
<% end %>