    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <h1 class="mt-4"><%= @article.heading %></h1>
          <p class="lead">
          
          </p>
          <hr>
          <p>Posted on <%= @article.created_at.strftime("%B %d, %Y")%></p>
          <hr>
          <%= image_tag @article.image_description.url(:banner), class: "img-fluid rounded"%>
          <hr>

          <%= @article.content.html_safe%>
          <hr>
        </div>
      </div>
    </div>