<div class="banner">
</div>
<!--//banner-->
<!--/top-news-->
<div class="top-news">
 <div class="top-inner second">
   <%= render partial: "articles/articles"%>
   <div id="infinite-scrolling" class="hidden">
     <%= paginate @articles, params: {controller: 'articles', action: 'index'} %>
   </div>
   <div class="clearfix"> </div>
 </div>
</div>