<div class="container-fluid">

  <div class="row">
    <div class="col-md-2" >
      <!-- Categories Widget -->
      <div class="card my-4">
        <h5 class="card-header">Categories</h5>
        <div class="card-body">            
          <ul class="list-unstyled mb-0">
            <li>
              <a href="#">Health</a>
            </li>
            <li>
              <a href="#">History</a>
            </li>
            <li>
              <a href="#">Laws</a>
            </li>
            <li>
              <a href="#">Mythology</a>
            </li>
            <li>
              <a href="#">Nature</a>
            </li>
            <li>
              <a href="#">Politics</a>
            </li>
            <li>
              <a href="#">Sex</a>
            </li>
          </ul>
            
          
        </div>
      </div>

      <!-- Side Widget -->
    </div>
    <!-- Blog Entries Column -->
    <div class="col-md-6" id="duk-articles">

      <h1 class="my-4">
      </h1>
      <%= render partial: "articles/articles"%>
      <div id="infinite-scrolling" class="hidden">
        <%= paginate @articles, params: {controller: 'articles', action: 'index'} %>
      </div>
    </div>

    <div class="col-md-4" >
      <!-- Categories Widget -->
      <div class="card my-4">
        <h5 class="card-header">Categories</h5>
        <div class="card-body">            
          <ul class="list-unstyled mb-0">
            <li>
              <a href="#">Web Design</a>
            </li>
            <li>
              <a href="#">HTML</a>
            </li>
            <li>
              <a href="#">Freebies</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

